
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#000" />
  <title>{{ page.title }}</title>{%- if page.description -%}
  <meta name="description" content="{{ page.description }}" />{%- endif -%}{%- if site.author -%}
  <meta name="description" content="{{ site.author }}" />{%- endif -%}
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
