<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Supplier</th>
      <th>Attachment</th>
      <th>Material</th>
      <th>Cost/pair</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://scpconcepts.com/airfoil-rail-guides/">Airfoil Rail Guide</a></td>
      <td><a href="https://scpconcepts.com/rocketry/">SC Precision</a></td>
      <td>Flat head screw</td>
      <td>Machined Delrin</td>
      <td>$7.00</td>
      <td>Teardrop shaped to reduce drag</td>
    </tr>
    <tr>
      <td><a href="https://aeropack.net/ldRailGuides.asp">Low-drag Rail Guide</a></td>
      <td><a href="https://aeropack.net">Aero Pack</a></td>
      <td>Flat head screw</td>
      <td>Machined Delrin</td>
      <td>$2.50</td>
      <td>Includes weld nuts</td>
    </tr>
    <tr>
      <td><a href="https://rail-buttons.com/1010delrin.html">New Style 1010</a></td>
      <td><a href="https://rail-buttons.com">Rail-buttons.com</a></td>
      <td>Flat head screw</td>
      <td>Moulded Delrin</td>
      <td>$1.00</td>
      <td>10/pack, introductory price</td>
    </tr>
    <tr>
      <td><a href="https://rail-buttons.com/1010delrin.html">One-piece 1010</a></td>
      <td><a href="https://rail-buttons.com">Rail-buttons.com</a></td>
      <td>Pan head screw</td>
      <td>Moulded Delrin</td>
      <td>$1.70/$1.45/$1.35</td>
      <td>2/10/30 packs</td>
    </tr>
    <tr>
      <td><a href="https://rail-buttons.com/1010delrin.html">3-piece 1010</a></td>
      <td><a href="https://rail-buttons.com">Rail-buttons.com</a></td>
      <td>Pan head screw</td>
      <td>Delrin</td>
      <td>$0.76</td>
      <td>10/pack</td>
    </tr>
    <tr>
      <td><a href="http://rail-buttons.com/3p1010.html">3-piece 1010</a></td>
      <td><a href="https://rail-buttons.com">Rail-buttons.com</a></td>
      <td>Pan head screw</td>
      <td>Nylon</td>
      <td>50¢/48¢/46¢</td>
      <td>10/30/50 packs</td>
    </tr>
    <tr>
      <td><a href="https://publicmissiles.com/product/hardware">Linear Rail Lug</a></td>
      <td><a href="https://publicmissiles.com">PML</a></td>
      <td>Surface/Flat head screw</td>
      <td>Cast urethane</td>
      <td>$5.95</td>
      <td>Can be screwed and/or epoxied on ≥ 38mm airframes</td>
    </tr>
    <tr>
      <td><a href="https://wildmanrocketry.com/collections/rail-guides/products/conformal-rail-guides-2pk">Conformal Rail Guides</a></td>
      <td><a href="https://wildmanrocketry.com">Wildman Rocketry</a></td>
      <td>Surface/Flat head screw</td>
      <td>3D printed plastic</td>
      <td>$2.50</td>
      <td>Can be screwed and/or epoxied; diameter not specified</td>
    </tr>
    <tr>
      <td><a href="https://giantleaprocketry.com/products/components_launch_systems.aspx#Acme_Conformal_Launch_Guides">ACME Conformal Rail Guide</a></td>
      <td><a href="https://giantleaprocketry.com/products/components_launch_systems.aspx">Giant Leap Rocketry</a></td>
      <td>Surface</td>
      <td>Extruded aluminum</td>
      <td>$3.99</td>
      <td>38mm to 7.5” diameter-specific; includes 3M adhesive strip</td>
    </tr>
    <tr>
      <td><a href="https://www.rosenfieldaerospace.com/Rail_Guides/cat2900835_2539336.aspx">Conformal Rail Guide</a></td>
      <td><a href="https://www.rosenfieldaerospace.com">Rosenfield Aerospace</a></td>
      <td>Surface</td>
      <td>3D printed plastic</td>
      <td>$2.99</td>
      <td>29mm to 5.54” LOC airframes; diameter specific</td>
    </tr>
    <tr>
      <td><a href="https://www.apogeerockets.com/Building-Supplies/Launch-Lugs-Rail-Buttons/Rail-Buttons-Guides/Universal-Rail-Guides">Universal Rail Guide</a></td>
      <td><a href="https://www.apogeerockets.com">Apogee Components</a></td>
      <td>Surface</td>
      <td>Cast urethane</td>
      <td>$3.28</td>
      <td>Any airframe size</td>
    </tr>
    <tr>
      <td><a href="https://www.apogeerockets.com/Launch-Accessories/Fly-Away-Rail-Guides">Fly-Away Rail Guide</a></td>
      <td><a href="https://www.apogeerockets.com">Apogee Components</a></td>
      <td>N/A</td>
      <td>Plywood</td>
      <td>$5.48-$13.60</td>
      <td>Leaves rocket on rail exit; 13mm to 54mm sizes</td>
    </tr>
    <tr>
      <td><a href="https://www.additiveaerospace.com/products/fly-away-rail-guides">Fly Away Rail Guide</a></td>
      <td><a href="https://www.additiveaerospace.com/">Additive Aerospace</a></td>
      <td>N/A</td>
      <td>Plastic, aluminum</td>
      <td>$30.00-$100.00</td>
      <td>Leaves rocket on rail exit; 38mm to 98mm sizes</td>
    </tr>
  </tbody>
</table>
