---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-display: fallback;
  font-family: 'alien_encounters_italic_solid';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/sf-alien-encounters-italic-solid.woff2') format('woff2');
}

$base-typeface: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !default;
$base-font-size:   16px !default;
$base-line-height: 1.5 !default;

$accent-typeface: 'alien_encounters_italic_solid', $base-typeface;

$theme-content-width:   44em;

$theme-color-darkest:   #18104b;
$theme-color-dark:      #392759;
$theme-color-bright:    #b51ccc;
$theme-color-light:     #da5ad1;
$theme-color-contrast:  #dc94ba;
$theme-color-highlight: #f2cf67;

$theme-background-color: #000 !default;
$theme-text-color:       #fff !default;
$theme-overlay-color:    rgba(0, 0, 0, .6);
$theme-heading-color:    $theme-color-highlight;
$theme-link-color:       $theme-color-highlight;
$theme-active-color:     $theme-color-contrast;

$print-text-color:       #000;

html {
  padding: 1em;
}

body {
  background-color: $theme-background-color;
  color: $theme-text-color;
  font-family: $base-typeface;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: $theme-content-width;

  figure {
    color: $theme-color-highlight;
    margin: 1em;
    padding: 0;
    position: relative;

    img {
      width: 100%;
    }

    figcaption {
      display: block;
      font-style: italic;
      padding-top: .5em;
    }
  }
}

header {
  position: relative;

  figure {
    display: inline-block;
    margin: 0 1.5em 0 0;
    padding: 0;
    width: 5em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-heading-color;
  font-family: $accent-typeface;
  font-weight: normal;
  letter-spacing: .15em;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: -.2em;
}

h2 {
  margin-top: 2em;
}

a {
  color: $theme-color-light;
  transition: all 150ms ease-in-out;

  &:visited {
    color: $theme-color-light;
  }

  &:focus {
    color: $theme-color-highlight;
  }

  &:hover {
    color: $theme-color-highlight;
  }
}

abbr {
  position: relative;
  text-decoration: underline solid $theme-color-dark;
}

a:focus abbr::after,
abbr:focus::after,
abbr:hover::after {
  background-color: $theme-background-color;
  border: 1px solid $theme-color-contrast;
  border-radius: 2px;
  bottom: -2.2em;
  color: $theme-text-color;
  content: attr(title);
  font-size: 1em;
  left: -.4em;
  padding: .3em;
  position: absolute;
  white-space: nowrap;
  width: auto;
}

small {
  font-size: .8em;
}

strong {
  color: $theme-heading-color;
  font-weight: normal;
}

sup {
  font-size: .6em;
  vertical-align: super;
}

ul {
  padding-left: .7em;

  ul {
    padding-left: 1.2em;
  }
}

dd + dt {
  margin-top: .3em;
}

:focus {
  outline: 1px solid $theme-color-contrast;
  transition: all 150ms ease-in-out;
}

.skip-link-wrapper {
  margin: 0 auto;
  max-width: $theme-content-width;
  position: relative;
}

.skip-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:focus {
    background-color: $theme-overlay-color;
    clip: auto;
    height: auto;
    left: 0;
    padding: .2em .4em;
    top: 0;
    transition-property: background-color;
    width: auto;
    z-index: 1;
  }
}

.site-logo-splash {
  margin: 2em auto 0;
  max-width: 50vw;
}

.site-logo a {
  display: block;
}

.site-navigation {
  display: inline-block;

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    color: $theme-link-color;
    font-family: $accent-typeface;
    letter-spacing: .15em;
    padding: .5em .3em;
    text-decoration: none;
    text-transform: uppercase;

    &:visited {
      color: $theme-link-color;
    }

    &:hover {
      color: $theme-active-color;
    }
  }
}

.page-banner {
  margin: 0 auto;
  max-width: $theme-content-width;
  position: relative;

  ul {
    display: inline-block;
    margin: 0;
    max-width: 14.5em;
  }

  li {
    display: inline-block;
    width: 8em;
  }

  li:nth-child(even) {
    width: 5em;
  }
}

.home-banner {
  font-size: 1.5em;
  text-align: center;

  ul {
    margin: 1em 0;
  }

  li {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.placeholder {
  background: no-repeat center url('/assets/svg/placeholder.svg');
  border: 1px solid $theme-color-dark;

  + img {
    position: absolute;
    top: 0;
  }
}

.r1x1 {
  margin: 1em 2em;

  .placeholder {
    padding-top: 100%;
  }
}

.r4x3 {
  margin: 1em 4em;

  .placeholder {
    padding-top: 133.33%;
  }
}

.r3x4 {
  margin: 1em 2em;

  .placeholder {
    padding-top: 75%;
  }
}

.r3x2 {
  margin: 1em 4em;

  .placeholder {
    padding-top: 150%;
  }
}

.r2x3 {
  margin: 1em 2em;

  .placeholder {
    padding-top: 66.66%;
  }
}

.r9x16 {
  margin: 1em 6em;

  .placeholder {
    padding-top: 56.25%;
  }
}

.r16x9 .placeholder {
  padding-top: 177.78%;
}

.footnote {
  margin: 0 -.5em 0 0;
  padding: 0 .5em 0 .1em;
  text-decoration: none;
}

.footnotes {
  border-top: 1px dotted $theme-color-highlight;
  margin-top: 3em;
  padding-bottom: 100vh;
  padding-top: 2em;

  ol {
    margin: 0;
  }
}

.post-link {
  color: $theme-text-color;
  display: block;
  text-decoration: none;

  &:visited {
    color: $theme-text-color;
  }

  &:hover {
    color: $theme-text-color;
  }
}

.post-listing {
  margin: 0;
  padding: 0;
}

.post-summary {
  list-style-type: none;
  margin-bottom: 1.5em;
}

.post-meta {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

h1 + .post-meta {
  margin-bottom: .5em;
  margin-top: -1em;
}

.post-tag {
  width: 3.5em;

  a {
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-date {
  color: $theme-color-highlight;
}

.post-title {
  color: $theme-link-color;
  display: block;
  font-family: $accent-typeface;
  letter-spacing: .1em;
  text-transform: uppercase;
  word-spacing: -.2em;

  &:hover {
    color: $theme-active-color;
  }
}

.hidden-caption {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.social-media {
  margin-left: auto;
  margin-right: auto;
  max-width: 19em;
  text-align: center;
}

.social-header {
  font-family: $base-typeface;
  font-size: 1.5em;
  letter-spacing: normal;
  margin-top: 0;
  text-transform: none;
}

.social-link {
  display: inline-block;
  max-width: 4em;
  padding: .5em;
  position: relative;
  text-decoration: none;

  svg {
    width: 100%;
  }

  &:focus,
  &:hover {
    .social-icon {
      stroke: $theme-color-highlight;
    }

    .hidden-caption {
      background-color: $theme-overlay-color;
      bottom: 0;
      clip: auto;
      height: auto;
      left: 0;
      margin: auto;
      padding: .2em 0;
      transition-property: background-color;
      width: 100%;
      z-index: 1;
    }
  }
}

.social-icon {
  fill: none;
  stroke: $theme-color-bright;
  transition: all 150ms ease-in-out;
}


.rss {
  float: right;
  margin-top: -4em;
  max-width: 2em;
}

dl {
  dt {
    color: $theme-color-highlight;

    &::after {
      color: $theme-text-color;
      content: ':';
    }
  }

  dl {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.color-swatch {
  display: inline-block;
  font-size: .8em;
  height: 5em;
  margin: 0 1% 2%;
  padding: 1em;
  width: 29%;
}

.theme-color-darkest {
  background-color: $theme-color-darkest;
}

.theme-color-dark {
  background-color: $theme-color-dark;
}

.theme-color-bright {
  background-color: $theme-color-bright;
}

.theme-color-light {
  background-color: $theme-color-light;
}

.theme-color-contrast {
  background-color: $theme-color-contrast;
}

.theme-color-highlight {
  background-color: $theme-color-highlight;
}

@media only screen and (min-width: 390px) {
  header figure {
    margin-right: 1.8em;
    width: 7.5em;
  }

  .page-banner {
    li {
      padding-bottom: .5em;
    }

    .site-navigation {
      position: absolute;
      top: 0;
    }
  }

  .social-link {
    max-width: 5em;
  }

  .rss {
    max-width: 3em;
  }
}

@media only screen and (min-width: 460px) {
  header figure {
    margin-right: 3em;
  }

  .page-banner {
    ul {
      max-width: 18em;
      padding-left: 1em;
    }

    li {
      width: 9em;
    }
  }
}

@media only screen and (min-width: 650px) {
  .page-banner {
    .site-navigation {
      position: absolute;
      right: 0;
      top: 1em;
    }

    ul {
      max-width: none;
    }

    li {
      width: auto;

      + li a {
        margin-left: .5em;
      }
    }

    li:nth-child(even) {
      width: auto;
    }
  }

  .home-banner {
    font-size: 2em;
  }

  .social-media {
    margin-left: -.5em;
    margin-right: -.5em;
    max-width: none;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    padding: 1em 2em;
  }

  body {
    font-size: 22px;
  }

  .r1x1 {
    margin: 2em 4em;
  }

  .r4x3 {
    margin: 2em 6em;
  }

  .r3x4 {
    margin: 2em;
  }

  .r3x2 {
    margin: 2em 8em;
  }

  .r2x3 {
    margin: 2em 3em;
  }

  .r9x16 {
    margin: 2em 0;
  }

  .social-link {
    max-width: 5.5em;
    padding-bottom: 1.5em;
  }

  .rss {
    margin-top: -5em;
    max-width: 4em;
  }

  ul {
    padding-left: 1.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .social-link {
    max-width: 6.25em;
  }
}

@media only screen and (min-width: 1425px) {
  .skip-link:focus {
    left: -10em;
  }
}

@media print {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $print-text-color;
  }

  .skip-link-wrapper,
  nav {
    display: none;
  }

  main .figure {
    page-break-inside: avoid;
  }

  .r3x2,
  .r4x3,
  .r16x9 {
    max-width: 50%;
  }
}
