---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-display: fallback;
  font-family: 'alien_encounters_italic_solid';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/sf-alien-encounters-italic-solid.woff2') format('woff2');
}

$base-typeface: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !default;
$base-font-size:   16px !default;
$base-line-height: 1.5 !default;

$accent-typeface: 'alien_encounters_italic_solid', $base-typeface;

$theme-content-width:   44em;

$theme-color-darkest:   #18104b;
$theme-color-dark:      #392759;
$theme-color-bright:    #b51ccc;
$theme-color-light:     #da5ad1;
$theme-color-contrast:  #dc94ba;
$theme-color-highlight: #f2cf67;

$theme-background-color: #000 !default;
$theme-text-color:       #fff !default;
$theme-heading-color:    $theme-color-highlight;
$theme-link-color:       $theme-color-highlight;
$theme-active-color:     $theme-color-contrast;

$print-text-color:       #000;

html {
  padding: 1em;
}

body {
  background-color: $theme-background-color;
  color: $theme-text-color;
  font-family: $base-typeface;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

main {
  max-width: $theme-content-width;
  margin: 0 auto 10em;

  figure {
    color: $theme-color-highlight;
    margin: 1em;
    padding: 0;
    position: relative;

    img {
      width: 100%;
    }

    figcaption {
      display: block;
      font-style: italic;
      padding-top: .5em;
    }

    .placeholder {
      background: no-repeat center url("/assets/svg/placeholder.svg");
    }

    .placeholder + img {
      position: absolute;
      top: 0;
    }
  }
}

header {
  position: relative;

  figure {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 10em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-heading-color;
  font-family: $accent-typeface;
  font-weight: normal;
  letter-spacing: .15em;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: -.2em;
}

a {
  color: $theme-color-bright;

  &:visited {
    color: $theme-color-bright;
  }

  &:hover {
    color: $theme-color-light;
  }
}

abbr {
  position: relative;
  text-decoration: underline solid $theme-color-dark;
}

a:focus abbr::after,
abbr:focus::after,
abbr:hover::after {
  background-color: $theme-background-color;
  border: 1px solid $theme-color-dark;
  border-radius: 2px;
  bottom: -2.3em;
  color: $theme-text-color;
  content: attr(title);
  font-size: 1em;
  left: -.3em;
  padding: .3em;
  position: absolute;
  white-space: nowrap;
  width: auto;
}

strong {
  color: $theme-heading-color;
  font-weight: normal;
}

.site-logo-splash {
  margin: 2em auto 0;
  max-width: 60em;
}

.site-navigation {
  display: inline;

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    color: $theme-link-color;
    font-family: $accent-typeface;
    letter-spacing: .15em;
    padding: .5em .3em;
    text-decoration: none;
    text-transform: uppercase;

    &:visited {
      color: $theme-link-color;
    }

    &:hover {
      color: $theme-active-color;
    }
  }
}

.page-banner {
  max-width: $theme-content-width;
  margin: 0 auto;

  ul {
    margin: 1em 0;
    max-width: 18em;
  }

  li {
    display: inline-block;
    width: 9em;
  }
}

.home-banner {
  font-size: 1.5em;
  text-align: center;

  ul {
    margin: 1em 0;
  }

  li {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footnotes {
  border-top: 1px dotted $theme-color-highlight;
  margin-top: 3em;
  padding-top: 2em;

  ol {
    margin: 0;
  }
}

.post-link {
  color: $theme-text-color;
  display: block;
  text-decoration: none;

  &:visited {
    color: $theme-text-color;
  }

  &:hover {
    color: $theme-text-color;
  }
}

.post-listing {
  margin: 0;
  padding: 0;
}

.post-summary {
  list-style-type: none;
  margin-bottom: 1.5em;
}

.post-tags {
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }
}

.post-tag {
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.post-title {
  color: $theme-link-color;
  display: block;
  font-family: $accent-typeface;
  letter-spacing: .1em;
  text-transform: uppercase;
  word-spacing: -.2em;

  &:hover {
    color: $theme-active-color;
  }
}

.specifications {
  dt {
    color: $theme-color-highlight;

    &::after {
      content: ":";
      color: $theme-text-color;
    }
  }

  dl {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.color-swatch {
  display: inline-block;
  font-size: .8em;
  height: 5em;
  margin: 0 1% 2% 1%;
  padding: 1em;
  width: 29%;
}

.theme-color-darkest {
  background-color: $theme-color-darkest;
}

.theme-color-dark {
  background-color: $theme-color-dark;
}

.theme-color-bright {
  background-color: $theme-color-bright;
}

.theme-color-light {
  background-color: $theme-color-light;
}

.theme-color-contrast {
  background-color: $theme-color-contrast;
}

.theme-color-highlight {
  background-color: $theme-color-highlight;
}

@media only screen and (min-width: 320px) {
  .page-banner li {
    margin-bottom: .5em;
  }
}

@media only screen and (min-width: 650px) {
  .page-banner {
    .site-navigation {
      position: absolute;
      right: 0;
      top: .5em;
    }

    ul {
      max-width: none;
    }

    li {
      width: auto;

      + li a {
        margin-left: .5em;
      }
    }
  }

  .home-banner {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }

  main figure {
    margin: 2em;
  }
}

@media print {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $print-text-color;
  }

  nav {
    display: none;
  }
}
