<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    <figure class="site-logo-splash" href="{{ "/" | absolute_url }}">
      <img src="{{ "/assets/svg/RLD-drop-shadow.svg" | absolute_url }}" alt="Rocket Lab Delta">
    </figure>

    <div role="banner" class="home-banner">
      {%- include site_nav.html -%}
    </div>

    <main role="main">
    <h2>Latest Update</h2>
    <ul class="post-listing">
      {% for post in site.posts limit:1 %}
      <li class="post-summary">
        <a href="{{ post.url }}" class="post-link">
          <span class="post-title">{{ post.title }}</span>
          {{ post.description }}
        </a>
        <nav>
          <ul class="post-meta">
          {% assign sortedCategories = post.categories | sort %}
          {% for category in sortedCategories %}
          <li class="post-tag"><a href="{{ category | absolute_url }}"><small>{{ category }}</small></a></li>
          {% endfor %}
          <li class="post-date"><small>{{ post.date | date: "%Y-%m-%d" }}</small></li>
          </ul>
        </nav>
      </li>
      {% endfor %}
    </ul>
      {{ content }}
    </main>
  </body>
</html>
