---
layout: default
---
<header>
  <h1>{{page.title}}</h1>
  <ul class="post-meta">
    <li class="post-author">by <span class="author-name">{{ page.author }}</span></li>
    <li class="post-date">{{ page.date | date: "%Y-%m-%d" }}</li>
    {% assign sortedCategories = page.categories | sort %}
    {% for category in sortedCategories %}
    <li class="post-tag"><a href="{{ category | absolute_url }}">{{ category }}</a></li>
    {% endfor %}
  </ul>
</header>

<main id="main" role="main">
  {{ content }}
</main>

{% if page.previous.url or page.next.url %}
<hr />

<nav class="previous-next">
  {% if page.previous.url %}
    <a class="previous" href="{{ page.previous.url }}">
      <small>Previous Update</small>
      {{ page.previous.title }}
    </a>
  {% else %}
    <span class="previous">
      <small>Previous Update</small>
      None. First Post!
    </span>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}">
      <small>Next Update</small>
      {{ page.next.title }}
    </a>
  {% else %}
    <span class="next">
      <small>Next Update</small>
      Working on it!<br/>
      Subscribe to the <a href="https://rocketlabdelta.com/feed.xml">RSS feed</a>.
    </span>
  {% endif %}
</nav>
{% endif %}

<hr />
<footer>
  <a class="license" rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="/assets/images/cc-by.png"/></a>
  This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License
</footer>

<script>
  window.onload = function() { Array.from(document.querySelectorAll("abbr")).forEach(function(e) {e.setAttribute("tabindex", 0)})};
</script>
